#!/usr/bin/make -f

help:
	@echo "redhat/rules tar # make ../DataSeries-<version>.tar.gz"
	@echo "redhat/rules copy-tar # copy ../DataSeries-<version>.tar.gz to rpm_topdir"
	@echo "redhat/rules rpm # build rpms"
	@echo "redhat/rules repo # copy rpms to yum repo under $$REDHAT_REPO"
	@echo "redhat/rules clean # clean up temporary files made during above steps"

tar: redhat/stamp/tar

spec: redhat/stamp/spec

rpm: redhat/stamp/rpm

srpm: redhat/stamp/copy-tar
	rpmbuild -bs redhat/DataSeries.spec

repo: redhat/stamp/repo

clean:
	-if [ -d _MTN ]; then rm Release.info Changelog.mtn; fi
	-. redhat/get-version.sh && rm ../DataSeries-$$VERSION.tar.gz
	rm -rf redhat/stamp
	[ ! -f redhat/DataSeries.spec ] || rm redhat/DataSeries.spec

redhat/stamp:
	mkdir -p $@

redhat/stamp/tar: redhat/stamp
	./redhat/make-tar.sh
	touch $@

redhat/stamp/spec: redhat/stamp/tar
	./redhat/make-spec.sh
	touch $@

redhat/stamp/rpm: redhat/stamp/copy-tar
	rpmbuild -ba redhat/DataSeries.spec
